/* Stylesheet for Luadch by pulsar */

body {

    font-family: "Verdana", Geneva, sans-serif;
    font-size: 82%;
    color: #000000;
}

a:link {

    color: #00007F;
    text-decoration: none;
}

a:visited {

    color: #00007F;
    text-decoration: none;
}

a:active {

    color: #00007F;
    text-decoration: none;
}

a:hover {

    color: #00007F;
    text-decoration: underline;
}

a:focus {

    color: #00007F;
    text-decoration: underline;
}

table, th, td {

    border: 0px solid gainsboro;
    border-collapse: separate;
    border-spacing: 20px 10px;
    vertical-align: top;
}

td {

    width: 50%;
}

table {

    /*border-top: 5px solid #00007F;*/
    border-right: 5px solid #00007F;
    border-left: 5px solid #00007F;
    border-bottom: 5px solid #00007F;

    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
    border-radius: 65px;
}

hr.style {

    border: 0;
    height: 2px;
    background-image: linear-gradient( to right, rgba( 0, 0, 127, 0 ), rgba( 0, 0, 127, 0.60 ), rgba( 0, 0, 127, 0 ) );
}

h1, h2, h3 {

    font-family: "Verdana", Geneva, sans-serif;
    color: #00007F;
}

h4 {

    font-family: "Verdana", Geneva, sans-serif;
    color: #000000;
}

ul {

    margin-left: 0.7em;
    padding-left: 0.7em;
}

ol {

    margin-left: 1.0em;
    padding-left: 1.0em;
}

code {

    font-size: 130%;
    font-style: italic;
}

#logo {

    background-image: url( logo.png );
    background-repeat: no-repeat;
    /*width: 469px;*/
    width: 500px;
    height: 91px;
}

#version1 {

    font-family: "Verdana", Geneva, sans-serif;
    font-size: 110%;
    font-style: normal;
    color: #000000;
    margin-top: 25px;
}

#version2 {

    font-family: "Verdana", Geneva, sans-serif;
    font-size: 110%;
    font-style: normal;
    color: #000000;
    margin-top: 20px;
}

#footer {

    font-size: 75%;
    width: 469px;
    vertical-align: bottom;
}